@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>之前因為要跟合作廠商對資料，所以開發一套佈署在網路上，確保跟對方的 Key 是沒有問題的</p>
<p>整理了一下索性就是直接公開，如果有興趣或是不放心外面工具的，就自己檢查程式碼，或是佈署再自己內網主機上面</p>

<p>
    Github Source:<br />
    <a  target="_parent" href="https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp">https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp</a>

</p>

<p>
    Demo Site:<br />
    <a  target="_parent" href="https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp">https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp</a>

</p>

<p>
    Reference:<br />
              <a href="https://download.csdn.net/download/woailiyue1/11846002" target="_parent">https://download.csdn.net/download/woailiyue1/11846002</a><br />
    <a  target="_parent" href="https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp">https://stackoverflow.com/questions/53997902/how-to-get-rsacryptoserviceprovider-public-and-private-key-only-in-c-sharp</a>

</p>
